@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-hex: #303030;
  --background-end-hex: #C1C3F9;
  --main-font-color: #ffffff;
  --color-accent: #CF1F1F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* general */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to left, var(--background-start-hex), var(--background-end-hex));
  width: 100%;
  height: 100%;
}

br {
  @apply hidden md:block
}

/* custom classes */

.hero-title {
  @apply text-7xl leading-[7rem] md:text-6xl md:leading-[7rem] text-center font-bold mb-10
}

.hero-typing-animation {
  @apply py-1 px-2.5 bg-accent rounded text-7xl md:text-8xl mt-5
}

.custom-container {
  @apply w-full px-[35px] md:px-[100px];
}